@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700;800;900&family=Inter:wght@400;500;600;700&display=swap");

$primary: #1d73c3;
$secondary: #0b2b3e;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

// *********************
// Default
// *********************
h1,
h2 {
  font-family: "Bitter", serif;
  font-weight: 700;
  span {
    font-family: "Bitter", serif;
    font-weight: 700;
  }
}

strong {
  @apply font-bold;
  color: black;
}

#hero {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
}

// *********************
// Topbar navigation
// *********************
.login-bar {
  /* background: $secondary; */
  &-left {
    a:first-of-type {
      span {
        font-size: 0.825rem;
      }
    }
    a:last-of-type {
      span {
        font-size: 0.9rem;
      }
    }
  }
  &-right {
  }
  button {
    transform: translateY(1px);
  }
  ul#menu-language-menu {
    li {
      margin: 0;
      &:first-of-type::after {
        content: "|";
        display: inline-block;
        margin: 0 0.5em;
      }
      &.current-lang {
        a {
          text-decoration: underline;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

ul#menu-topbar-menu,
ul#menu-topbar-menu-eng {
  @apply md:flex md:align-baseline;
  a,
  button {
    @apply inline-block;
  }
  li a,
  li button {
    @apply px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded md:mt-0 md:mx-2 hover:text-primary hover:bg-blue-100;
  }
  li.current-menu-item a,
  li.current-menu-parent button {
    @apply bg-blue-100 rounded md:mt-0 hover:bg-blue-100 text-primary;
  }
}

ul.sub-menu {
  position: absolute;
  @apply bg-white rounded-lg mt-2;
  li {
    @apply flex;
    a {
      @apply w-full px-2 my-2;
    }
  }
}

// *********************
// Contact page
// *********************
.maps {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 600px;
}

label {
  @apply leading-7 text-sm text-gray-600;
  display: inline-block;
  margin-top: 1em;
}
input,
textarea,
select {
  @apply w-full bg-white rounded border border-gray-300 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}
textarea {
  @apply resize-none leading-6 h-32;
}
select {
  height: 2.8rem;
  // padding-right: 1rem;
}
input[type="submit"] {
  margin-top: 1em;
  @apply text-white border-0 py-2 px-6 focus:outline-none rounded text-lg;
  cursor: pointer;
  background: $primary;
  &:hover {
    background: shade($primary, 10%);
  }
}

.gform_wrapper {
  .gform_title {
    display: none;
  }
}

// *********************
// Skew header with SVG
// *********************
header.skw {
  background: $secondary;
  /* border: 1px solid red; */
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* height: 100px; */
    /* set height to pixels if you want angle to change with screen width */
  }
}

// video overlay skew header
.header-overlay {
  /* border: 1px solid blue; */
  width: 100%;
}

.playbutton {
  cursor: pointer;
  background: rgba(225, 225, 225, 0.7);
}

#tab_wrapper {
  a.active {
    @apply bg-primary text-white;
  }
}

/* li.menu-item {
  a {
    @apply text-secondary md:px-4 hover:underline decoration-4 md:underline-offset-[20px];
  }
}
li.current-menu-item {
  @apply underline decoration-primary decoration-4 md:underline-offset-[20px];
} */

/* article.video {
  mask: linear-gradient(#0000 10%, #000 0);
} */

section article p {
  @apply text-lg;
}
